form{
  background-color: #fff;
  padding: 15px;
}

input[type="text"]{
  width: 310px;
  height: 30px;
  outline: 0;
  border: none;
  font-size: 1.5em;
  background: #fff;
  color: #2f4f4f;
}

button{
  font-size: 1.5em;
  color: #53BDFF;
  background-color: #fff;
  outline: 0;
  border: none;
  width: 50px;
}